body {
    font-family: 'Spartan';
    font-size: large;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

#header {
    align-content: center;
    flex-direction: row;
}

#logocontainer {
    text-align: center;
}

#logo {
    vertical-align: middle;
    margin-top: 100px;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    background-color: ;
}

#navcontainer {
    display: flex;
    align-content: flex-end;
}

a.navlink {
    text-align: center;
}

.navbutton {
    justify-self: center;
    padding: 15px;
    margin: 15px;
}

#authform {
    text-align: center;
    padding: 10%
}

#authform .formcontainer {
    display: inline-block;
}

#authform form {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 20px;
}

#authform form .row {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

#authform form .col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#authform form .col label {
    padding: 2px;
    margin: 5px;
    text-align: right;
}

#authform form .col input {
    padding: 3px;
    margin: 5px;
    align-self: flex-start;
    width: 200px;
}

#formbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 150px;
}

#authform form button {
    margin: auto;
}

#body {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

#portfolio {
    height: 600px;
    padding: 2px;
    overflow: scroll;
}

.rtstock {
    display: flex;
    height: 35px;
}

.rtstockcontainer {
    display: flex;
    align-items: flex-start;
}

.atsymbol {
    text-align: start;
    height: 30px;
    flex-shrink: 0;
    width: 90px;
}

.holding {
    text-align: start;
    width: 280px;
}

.qty {
    box-sizing: border-box;
    text-align: start;
    width: 90px;
}

#purchase {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

#searchwidget {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding: 15px;
}

#searchwidget input {
    width: 220px;
    position: relative;
    padding: 2px;
}

#purchasebtn {
    text-align: center;
    justify-content: center;
}

#purchasebtn button:disabled {
    color: lightslategray;
}

#results {
    justify-content: center
}

.query {
    display: flex;
    flex-direction: column;
}

#qprice {
    padding: 8px;
}

#purchaseqty {
    padding: 8px;
}

#purchaseqty input {
    width: 40px;
}

.error {
    padding: 8px;
    text-align: center;
}

.red {
    color: #CF000F;
}

.yellow {
    color: #FFC153;
}

.green {
    color: #27AE60;
}
.black {
    color: #000000;
}
